src/aux/
src/pdf/__latexindent_temp_MA2287.pdf

src/pdf/__latexindent_temp_MA2287.pdf
src/pdf/__latexindent_temp_MA2287.synctex.gz
src/pdf/MA2287.synctex.gz
src/pdf/MP232.synctex.gz
src/pdf/ST1112.synctex.gz
